{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block title %} Blog | {{block.super}}{% endblock title%}


 {% block content %} 
<!-- 
    <div class="container">
        <div style="margin-top: 80px;">
            <h2 class="d-inline">Articles</h2>
       <button class="btn btn d-inline btn-danger float-right"><i class="fas fa-pen-fancy"></i>
       
        <a style="text-decoration: none; color: inherit;" href="writearticle.html">Write Article</a></button>
        </div>
       <br>

    </div> -->
    <div class="container">
        
        <div class="row">
          <div class="col-lg-8"> 
            <div style="margin-top: 80px;">
              <h2 class="d-inline">Articles</h2>

          </div>
        </div>

          <div class="col-lg-4" style="margin-top: 80px;"> <button class="btn btn d-inline btn-danger "><i class="fas fa-pen-fancy"></i>
       
            <a style="text-decoration: none; color: inherit;" href="{% url 'blog:blog-create' %}"  >Write Article</a></button>

          </div>
       
      </div>
    <div class="row" style="margin-top: 80px;">
        <div class="col-lg-9">
           
            {% for post in posts %}
            <article class="media content-section">
                    <div class="media-body">
                      <div class="article-metadata">
                        <a class="mr-2" href="#">{{ post.author }}</a>
                        <small class="text-muted">{{ post.date_posted }}</small>
                      </div>
                      <h2><a class="article-title" style="color:inherit;" href="{{post.get_absolute_url}}">{{ post.title }}</a></h2>
                      <p class="article-content">{{ post.content |truncatechars:100|markdown }}</p>
                      <p>
                      {%for tags in post.tags.all%}
                      
                      <a href="/blog/search/{{tags}}"><span class="badge badge-pill badge-dark">{{tags}}</span></a>
                      <div class="row">
                      {% endfor %}
                    </p>
        
        
                    </div>
            
          </article>
          <hr>
            {% endfor %}  



          </div>

          <div class="col-lg-3">
             <h2>Trending Tags</h2>
 
              {%for tag in tags%}

              <a href="/blog/search/{{tag}}"><span class="badge badge-pill badge-dark">{{tag}}</span></a>

          
              
              {% endfor %}
     
           


          </div>
    </div>

      
{% endblock content%}